body {
	font-family: 'Roboto', sans-serif;
	background: #D7FFCF;
}




#match-img{

  display: block;
  margin-left: auto;
  margin-right: auto;
}

#survey{
    color: red;
    text-align: center;
}

#name{

    color:red;
}
.container{

    color:purple;
}